<div class="menu_container">

  <div class="menu_logo">
    <img src="../../../assets/ps-logo.png" alt="logo" width="140px" height="32px">
  </div>

  <div class="menu_nav">
    <ul class="nav_list">
      <li class="nav_item"><a class="nav_link" (click)="githubRedirect()">GitHub</a></li>
      <li class="nav_item"><a class="nav_link" (click)="linkedinRedirect()">LinkedIn</a></li>
      <li class="nav_item"><a class="nav_link" (click)="emailRedirect()">Mail me</a></li>
    </ul>
  </div>

</div>